@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;600&display=swap');
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: black;
}
.container3{
    margin-top: 220px;
    display: flex;
    justify-content: center;
}
.box3{
    width: 640px;
    height: 264px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 40px 16px 48px 16px;
}
.title4{
    font-family: Sora, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 16px;
}
.subtitle4{
    font-family: Sora, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 8px;
}
.input10{
    width: 608px;
    height: 48px;
    border: 0.5px solid #DADADA;
    border-radius: 4px;
    padding-left: 16px;
    font-family: Sora, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.25);
    margin-bottom: 16px;
}
.btn3{
    width: 384px;
    height: 48px;
    background-color: #232529;
    border-radius: 4px;
    margin-right: 112px;
    margin-left: 112px;
}
.link3{
    font-family: Sora, sans-serif;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 1px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}
